<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MobileAtwork</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Black.ttf</string>
		<string>Nunito-BlackItalic.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-BoldItalic.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-ExtraBoldItalic.ttf</string>
		<string>Nunito-ExtraLight.ttf</string>
		<string>Nunito-ExtraLightItalic.ttf</string>
		<string>Nunito-Italic.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-LightItalic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-SemiBoldItalic.ttf</string>
		<string>NunitoSans-Black.ttf</string>
		<string>NunitoSans-BlackItalic.ttf</string>
		<string>NunitoSans-Bold.ttf</string>
		<string>NunitoSans-BoldItalic.ttf</string>
		<string>NunitoSans-ExtraBold.ttf</string>
		<string>NunitoSans-ExtraBoldItalic.ttf</string>
		<string>NunitoSans-ExtraLight.ttf</string>
		<string>NunitoSans-ExtraLightItalic.ttf</string>
		<string>NunitoSans-Italic.ttf</string>
		<string>NunitoSans-Light.ttf</string>
		<string>NunitoSans-LightItalic.ttf</string>
		<string>NunitoSans-Regular.ttf</string>
		<string>NunitoSans-SemiBold.ttf</string>
		<string>NunitoSans-SemiBoldItalic.ttf</string>
		<string>AmpleSoft-Bold.otf</string>
		<string>AmpleSoft-ExtraLight.otf</string>
		<string>AmpleSoft-Light.otf</string>
		<string>AmpleSoft-Medium.otf</string>
		<string>AmpleSoft-Thin.otf</string>
		<string>AmpleSoft.otf</string>
		<string>Georgia.ttf</string>
		<string>Mute-Bold.otf</string>
		<string>Mute-Light.otf</string>
		<string>Mute-LightItalic.otf</string>
		<string>Mute-Medium.otf</string>
		<string>Mute-MediumItalic.otf</string>
		<string>Mute-Semibold.otf</string>
		<string>Mute-SemiboldItalic.otf</string>
		<string>NunitoSans-Light.otf</string>
		<string>NunitoSans-SemiBold.otf</string>
		<string>Tahoma.ttf</string>
		<string>WorkSans-Bold.otf</string>
		<string>WorkSans-ExtraBold.otf</string>
		<string>WorkSans-Light.otf</string>
		<string>WorkSans-Medium.otf</string>
		<string>WorkSans-Regular.otf</string>
		<string>WorkSans-SemiBold.otf</string>
		<string>WorkSans-Thin.otf</string>
		<string>HelveticaNowDisplay-Black.ttf</string>
		<string>HelveticaNowDisplay-BlackIta.ttf</string>
		<string>HelveticaNowDisplay-Bold.ttf</string>
		<string>HelveticaNowDisplay-BoldIta.ttf</string>
		<string>HelveticaNowDisplay-ExtBdIta.ttf</string>
		<string>HelveticaNowDisplay-ExtBlk.ttf</string>
		<string>HelveticaNowDisplay-ExtBlkIta.ttf</string>
		<string>HelveticaNowDisplay-ExtLtIta.ttf</string>
		<string>HelveticaNowDisplay-ExtraBold.ttf</string>
		<string>HelveticaNowDisplay-Hairline.ttf</string>
		<string>HelveticaNowDisplay-HairlineI.ttf</string>
		<string>HelveticaNowDisplay-Light.ttf</string>
		<string>HelveticaNowDisplay-LightIta.ttf</string>
		<string>HelveticaNowDisplay-MedIta.ttf</string>
		<string>HelveticaNowDisplay-Medium.ttf</string>
		<string>HelveticaNowDisplay-RegIta.ttf</string>
		<string>HelveticaNowDisplay-Regular.ttf</string>
		<string>HelveticaNowDisplay-Thin.ttf</string>
		<string>HelveticaNowDisplay-ThinIta.ttf</string>
	</array>
</dict>
</plist>
